[Unit]
Description=Lightmediascanner (LMS)

[Service]
Type=dbus
BusName=org.lightmediascanner
UMask=0077
ExecStart=/usr/bin/lightmediascannerd --startup-scan --db-path=/run/user/%U/usrshr/lightmediascannerd.db --directory=/media --directory=%h/Music --directory=%h/Videos

[Install]
WantedBy=default.target
Alias=dbus-org.lightmediascanner.service
