[Unit]
Description=Lightmediascanner (LMS)

[Service]
Type=dbus
BusName=org.lightmediascanner
ExecStart=/usr/bin/lightmediascannerd --startup-scan --db-path=/tmp/%U/lightmediascannerd.db --directory=/media --directory=%h/Music --directory=%h/Videos

[Install]
WantedBy=default.target
Alias=dbus-org.lightmediascanner.service
