[Unit]
Description=Simplest application manager

[Service]
ExecStart=/usr/bin/afb-daemon --mode=remote --port=1234 --token='' --sessiondir=/home/root/.afb-daemon --rootdir=/usr/share/agl/afm-client --alias=/icons:/var/lib/afm/icons
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target

