SUBSYSTEM=="block", ACTION=="add"    RUN+="/etc/udev/scripts/lightmediascanner.sh"
SUBSYSTEM=="block", ACTION=="remove" RUN+="/etc/udev/scripts/lightmediascanner.sh"
